@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --chart-tooltip-bg: #ffffff;
  --chart-tooltip-border: #e4e4e7;
  --chart-tooltip-text: #18181b;
}

.dark {
  --chart-tooltip-bg: #18181b;
  --chart-tooltip-border: #27272a;
  --chart-tooltip-text: #f4f4f5;
}
